In [8]:
import pandas as pd
import geopandas as gpd
import requests
import os
from tqdm import tqdm

In [4]:
d = '../data/staging'

In [10]:
dfs = []

for file in tqdm(os.listdir(d)):
    if file.split('.')[-1]!= 'xz':
        continue
    
    dfs.append(pd.read_csv(os.path.join(d, file), dtype={'geoid20':object}))

big_df = pd.concat(dfs)
big_df

100%|██████████| 1790/1790 [02:02<00:00, 14.59it/s]

,address,geoid20,longitude,latitude
0,"302 mesquite drive,,tx,79036",482339505011065,-101.562424,35.624194
1,"213 third street,,tx,79078",482339502003310,-101.588981,35.730999
2,"340 el paso drive,,tx,79036",482339505021095,-101.596940,35.664807
3,"232 boat ramp road,,tx,79036",482339505021067,-101.605799,35.661081
4,"702 south sheridan avenue,,tx,79036",482339505012084,-101.596555,35.636140
...,...,...,...,...
103963,"3 badgers island west,kittery,me,3904",230310380022030,-70.752744,43.081048
103964,"759 narragansett trail,buxton,me,4093",230310200011015,-70.504396,43.631768
103965,"65 old standish road,buxton,me,4093",230310200021005,-70.572295,43.687564
103966,"16 haig street,sanford,me,4073",230310302012022,-70.786729,43.436485
103967,"1180 main street,sanford,me,4073",230310302051006,-70.759470,43.423451

In [12]:
big_df=big_df[~big_df['geoid20'].isnull()] # remove nulls
big_df

,address,geoid20,longitude,latitude
0,"302 mesquite drive,,tx,79036",482339505011065,-101.562424,35.624194
1,"213 third street,,tx,79078",482339502003310,-101.588981,35.730999
2,"340 el paso drive,,tx,79036",482339505021095,-101.596940,35.664807
3,"232 boat ramp road,,tx,79036",482339505021067,-101.605799,35.661081
4,"702 south sheridan avenue,,tx,79036",482339505012084,-101.596555,35.636140
...,...,...,...,...
103963,"3 badgers island west,kittery,me,3904",230310380022030,-70.752744,43.081048
103964,"759 narragansett trail,buxton,me,4093",230310200011015,-70.504396,43.631768
103965,"65 old standish road,buxton,me,4093",230310200021005,-70.572295,43.687564
103966,"16 haig street,sanford,me,4073",230310302012022,-70.786729,43.436485
103967,"1180 main street,sanford,me,4073",230310302051006,-70.759470,43.423451

In [15]:
big_df['county'] = big_df['geoid20'].apply(lambda x: x[:5])
big_df

/tmp/ipykernel_93039/839581395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  big_df['county'] = big_df['geoid20'].apply(lambda x: x[:5])

,address,geoid20,longitude,latitude,county
0,"302 mesquite drive,,tx,79036",482339505011065,-101.562424,35.624194,48233
1,"213 third street,,tx,79078",482339502003310,-101.588981,35.730999,48233
2,"340 el paso drive,,tx,79036",482339505021095,-101.596940,35.664807,48233
3,"232 boat ramp road,,tx,79036",482339505021067,-101.605799,35.661081,48233
4,"702 south sheridan avenue,,tx,79036",482339505012084,-101.596555,35.636140,48233
...,...,...,...,...,...
103963,"3 badgers island west,kittery,me,3904",230310380022030,-70.752744,43.081048,23031
103964,"759 narragansett trail,buxton,me,4093",230310200011015,-70.504396,43.631768,23031
103965,"65 old standish road,buxton,me,4093",230310200021005,-70.572295,43.687564,23031
103966,"16 haig street,sanford,me,4073",230310302012022,-70.786729,43.436485,23031
103967,"1180 main street,sanford,me,4073",230310302051006,-70.759470,43.423451,23031

In [16]:
export_dir = '../data/county_address'

for county in tqdm(big_df['county'].unique()):
    pdf = big_df[big_df['county'] == county]
    del pdf['county']
    pdf.to_csv(os.path.join(export_dir, county)+'.csv.xz', index=False)

100%|██████████| 1850/1850 [2:08:58<00:00,  4.18s/it]